@import "../../partials/global";

.welcome {
  width: 100%;
  min-height: 930px;
  display: flex;
  flex-direction: column;
  background-color: #1d2968;
  &__title {
    font-size: 14vw;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 5%;
    letter-spacing: 2px;
    color: #b2375a;
    &:hover {
      -webkit-animation: neon1 3.5s ease-in-out infinite alternate;
      -moz-animation: neon1 3.5s ease-in-out infinite alternate;
      animation: neon1 3.5s ease-in-out infinite alternate;
    }
  }
  &__section-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
  &__img-container {
    width: 50%;
    margin-left: 5%;
    // flex: 1;
    @include tablet {
      margin-left: 2%;
    }
  }
  &__image {
    // margin-left: 5%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 3px #b2375a;
  }
  // &__loop {
  //   width: 35%;
  //   margin-left: 5%;
  //   position: relative;
  //   z-index: 100;
  // }
  &__cred-bubble {
    width: 100%;
    // margin-bottom: 0;
    // position: absolute;
    // top: -10%;
    // left: 48%;
    // overflow: hidden;
  }
  &__bubble-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 300px;
    // float: right;
    width: 50%;
    margin-right: 1%;
    // justify-content: center;
    // margin-top: 1000px;
  }
  &__cred-bubble--text {
    margin-top: 12%;
    position: absolute;
    // top: 13%;
    // left: 69%;
    // z-index: 16;
    font-size: 3vw;
    font-weight: bold;
    color: #1d2968;
  }
  &__cred-bubble--creds {
    // width: 50%;
    // position: absolute;
    // top: 25%;
    // right: 25%;
    // justify-content: center;
    margin: 0;
    font-size: 12vw;
    font-weight: bold;
    color: #b2375a;
  }
  &__add-credit {
    color: white;
    // position: absolute;
    font-weight: bold;
    // bottom: -25px;
    // left: 25%;
    font-size: 16px;
    border: none;
    outline: none;
    width: 50%;
    padding: 5px 0;
    color: honeydew;
    font-family: $font-stack;
    letter-spacing: 1px;
    background: #031c32;
    border: 3px solid #b2375a;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1000;
    @include tablet {
      padding: 15px 0;
    }
  }
  &__link-container {
    // margin-top: 1%;
    // position: absolute;

    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin-top: 3%;
    justify-content: center;
    @include desktop {
      margin-top: 5%;
    }
  }
  &__link {
    margin: 0;
    text-decoration: none;
  }
  &__fav-coasters-title {
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    color: #b2375a;
  }
  &__fav-coasters-list {
    text-align: center;
    font-size: 3.5vw;
    width: 100%;
    margin-top: 0;
    line-height: 55px;
    @include tablet {
      line-height: 75px;
    }
  }
  // &__bottom-image {
  //   width: 30%;
  //   margin-top: -7.5%;
  //   margin-right: 5%;
  //   align-self: flex-end;
  //   border-radius: 20px;
  //   box-sizing: border-box;
  //   border: solid 4px #b2375a;
  //   // float: right;
  // }
  &__logout-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    // margin-right: 27%;
    justify-content: center;
  }
  &__logout-button {
    border: none;
    outline: none;
    width: 50%;
    // margin-right: 2.5%;
    padding: 5px 0;
    color: honeydew;
    font-family: $font-stack;
    font-size: 18px;
    letter-spacing: 1px;
    background: #031c32;
    border: 3px solid #b2375a;
    cursor: pointer;
    border-radius: 10px;
    z-index: 100;
    @include tablet {
      padding: 15px 0;
    }
  }
  &__bottom-coaster {
    width: 50%;
    // height: 900px;
    align-self: center;
    // margin-top: -34%;
    // margin-right: 2.5%;
    @include tablet {
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }
    @include desktop {
      width: 35%;
      align-self: center;
      // margin-top: -64%;
      // margin-right: 2.5%;
    }
  }
  &__bottom-space {
    height: 100px;
  }
}
.btm-container {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  @include tablet {
    // margin-top: 1%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.box {
  margin-top: 15%;
  transform: translate(0.5%, -10%);
  width: 90%;
  height: 400px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
  margin-left: 5%;
  @include tablet {
    width: 600px;
    height: 600px;
    margin-top: 10%;
    // margin-left: 10%;
  }
  @include desktop {
    margin-top: 10%;
    height: 750px;
  }
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}

// .box:hover:before {
//   left: -30%;
//   transform: skewX(-5deg);
// }

.box .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #f0a591;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // display: block;
  box-sizing: border-box;
}

.box span:nth-child(1) {
  transform: rotate(0deg);
}

.box span:nth-child(2) {
  // width: auto;
  // width: 140%;
  transform: rotate(90deg);
}

.box span:nth-child(3) {
  transform: rotate(180deg);
}

.box span:nth-child(4) {
  transform: rotate(270deg);
}

.box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
