@import "../../partials/global";

.welcome {
  width: 100%;
  min-height: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2968;
  &__title {
    font-size: 14vw;
    margin-bottom: 7%;
    margin-top: 5%;
    letter-spacing: 2px;
    color: #b2375a;
  }
  &__link-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  &__image {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 4px #b2375a;
  }
  &__add-credit {
    color: white;
    position: absolute;
    // bottom: 40%;
    // left: 15%;
    // font-size: 1.8rem;
    font-weight: bold;
    bottom: -25px;
    left: 27.5%;
    font-size: 16px;
    border: none;
    outline: none;
    width: 45%;
    padding: 15px 0;
    color: honeydew;
    font-family: $font-stack;
    letter-spacing: 1px;
    background: #031c32;
    border: 4px solid #b2375a;
    cursor: pointer;
    border-radius: 15px;
  }
  &__logout-container {
    width: 100%;
    position: relative;
  }
  &__logout-button {
    border: none;
    outline: none;
    width: 45%;
    padding: 15px 0;
    color: honeydew;
    font-family: $font-stack;
    font-size: 18px;
    letter-spacing: 1px;
    background: #031c32;
    border: 4px solid #b2375a;
    cursor: pointer;
    border-radius: 15px;
  }
  &__bottom-image {
    width: 85%;
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 20px;
    box-sizing: border-box;
    border: solid 4px #b2375a;
  }
  &__bottom-coaster {
    width: 65%;
  }
}
