@import "../../partials/global";
a {
  margin-top: 50%;
  display: flex;
  justify-content: center;
  // align-self: flex-end;
  // align-items: flex-end;
  // align-content: flex-end;
  @include tablet {
    margin-top: 40%;
  }
  @include desktop {
    margin-top: 10%;
  }
}

.welcome-page {
  // position: relative;
  // height: 100%;
  width: 100%;
  height: 1000px;
  // display: flex;
  // justify-content: center;
  // align-self: center;
  // align-items: center;
  // align-content: center;

  // object-fit: fill;
  // object-fit: contain;
  // overflow: hidden;
  &__image {
    width: 55%;
    max-height: 220px;

    // position: absolute;
    // z-index: 10;
    // top: 5%;
    // left: 36%;
    border-radius: 20px;
    box-sizing: border-box;
    border: 3px solid #b2375a;
    animation: shake 1.8s ease-out;
    // @include tablet {
    //   left: 38%;
    // }
    @include tablet {
      max-height: 270px;
    }
    @include tablet {
      max-height: 500px;
      max-width: 600px;
    }
  }
  &__sky {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    // max-height: 1000px;
  }
  &__coaster-skyline1 {
    position: absolute;
    bottom: 32%;
    left: -100%;
    width: 100%;
    animation: coaster-skyline1 30s infinite linear reverse;
  }
  &__coaster-skyline2 {
    position: absolute;
    bottom: 32%;
    left: 0.5%;
    width: 100%;
    animation: coaster-skyline2 30s infinite linear reverse;
  }
  &__coaster-tracks1 {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 99%;
    animation: coaster-track1 10s infinite linear reverse;
  }
  &__coaster-tracks2 {
    position: absolute;
    top: 5%;
    left: -100%;
    width: 99%;
    animation: coaster-track2 10s infinite linear reverse;
  }
  &__coaster-train {
    position: absolute;
    top: 65%;
    left: 30%;
    width: 40%;
  }
  &__coaster-wheel1 {
    position: absolute;
    top: 86%;
    left: 34%;
    width: 7%;
    animation: wheel 3s infinite linear;
  }
  &__coaster-wheel2 {
    position: absolute;
    top: 86%;
    left: 56%;
    width: 7%;
    animation: wheel 3s infinite linear;
  }
}
.welcome-page__image:hover {
  transform: scale(1.1);
}

@keyframes coaster-track1 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes coaster-track2 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes coaster-skyline1 {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}
@keyframes coaster-skyline2 {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

@keyframes wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.8em);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em);
  }
  70%,
  100% {
    transform: translate(0);
  }
}
