@import "../../partials/global";

.heading {
  font-size: 80px;

  margin: 0 auto;
  padding: 0 8px 0 0;
  color: rgb(193, 25, 98);
  text-align: center;
  font-family: $font-stack;
}
.coaster-credit-image {
  width: 50px;
  margin: 0 auto;
  padding: 0;
}
.coaster-credit-title {
  margin: 0 auto;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.coaster-credit-count {
  margin: 0 auto;
  font-size: 3rem;
  color: blue;
}
/*Container*/
.container {
  margin: 36px auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-label {
  position: relative;
}
.container-input {
  width: 325px;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 12px;
  font-size: 20px;
  box-sizing: border-box;
  outline: none;
  border-radius: 20px;
  border: 4px solid rgb(54, 32, 105);
}
.search-icon {
  position: absolute;
  top: -12px;
  //   font-size: 24px;
  color: #555;
  right: 18px;
  width: 45px;
}

/* Results */
// .results-container {
//   display: flex;
//   flex-flow: wrap;
// }
// .result-items {
//   position: relative;
//   padding: 16px;
//   border: 1px solid #898989;
//   margin: 16px;
//   text-align: center;
//   min-width: 200px;
//   text-decoration: none;
//   box-shadow: 2px 2px 2px #898989;
// }
// .image-username {
//   color: coral;
//   font-size: 18px;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   margin: 0;
//   background: rgba(0, 0, 0, 0.8);
//   padding: 5px 10px;
// }
// .image {
//   width: 100%;
//   height: 200px;
// }
// .image-wrapper {
//   display: flex;
//   align-items: center;
//   box-sizing: border-box;
//   height: 100%;
//   justify-content: center;
// }
// /*Show and hide*/
// .show {
//   display: inline-block;
// }
// .hide {
//   display: none;
// }

a:hover {
  text-decoration: none;
}

::placeholder {
  font-family: $font-stack;
}
.search-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__name {
    font-size: 1rem;
    text-align: center;
    // text-transform: uppercase;
    // width: 100%;
    // margin-left: auto;
  }
  &__park {
    font-size: 1rem;
    text-align: center;
    // margin-left: 20%;
  }
  &__height {
    font-size: 1rem;
    text-align: center;
  }
  &__speed {
    font-size: 1rem;
    text-align: center;
  }
  &__image {
    width: 300px;
    margin: 6% auto;
    border-radius: 20px;
    border: 4px solid rgb(54, 32, 105);
  }
  &__addCredit {
    border: none;
    outline: none;
    margin: 5% auto;
    width: 250px;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
    border-radius: 5px;
    font-family: $font-stack;
  }
}

// .search__stats-addCredit {
//   // position: absolute;
//   // top: 95px;
//   // left: 15vw;
//   border: none;
//   outline: none;
//   width: 250px;
//   padding: 15px 0;
//   color: #fff;
//   font-size: 16px;
//   letter-spacing: 1px;
//   background: #603bbb;
//   cursor: pointer;
//   border-radius: 5px;
//   font-family: $font-stack;
// }
